Binaries
DerivedDataCache
Intermediate
Saved
Build
Platforms
GAS_RpgGame.sln.DotSettings.user
GAS_RpgGame.sln
.vsconfig
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace